.footer {
    background: #222;
    color: white;
    padding: 40px 0;
    font-size: 14px;
    line-height:18px;
  }
  
  .container {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
  }
  
  .footer-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid #444;
  }
  
  

 
  .footer ul {
    list-style: none;
    padding: 0;
  }
  
  .footer ul li {
    margin-bottom: 10px;
  }
  
  .footer ul li a {
    color: white;
    text-decoration: none;
  }
  
  .footer ul li a:hover {
    text-decoration: underline;
    color: #6790E8;
  }
  
  /* Newsletter */
  .newsletter form {
    display: flex;
    flex-direction: column;
  }
  
  .newsletter input {
    padding: 10px;
    border: none;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  
  /* .newsletter button {
    padding: 10px;
  
    border: none;
   
    cursor: pointer;
    border-radius: 5px;
  } */
  
  /* Social Icons */
  .footer-bottom {
    text-align: center;
    padding-top: 20px;
  }
  
  .social-icons {
    margin-bottom: 10px;
  }
  
  .social-icons a {
    margin: 0 10px;
    color: white;
    font-size: 20px;
  }
  
  .social-icons a:hover {
  color:#6790E8
  }
  
  /* Responsive */
  @media (max-width: 768px) {
    .footer-top {
      flex-direction: column;
      text-align: center;
    }
  
    .newsletter form {
      align-items: center;
    }
  
    .newsletter input {
      width: 80%;
    }
  
    .newsletter button {
      width: 80%;
    }
  }
  