@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size:18px;
  line-height:24px;
  font-family: "Open Sans", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p:last-child{
  margin-bottom:0;
}
.lightBlueBg{
  background-color:#F0F4FD;
}

.BlueBg{
  background-color:#6790E8;
}
.blueColor{
  color: #6790e8
}
.heading {
  display:flex;
  align-items:center;
  gap:15px;
  margin-bottom:15px;
}

h3 {
  font-size:36px;
  line-height:38px;
  font-weight:700;
  margin-bottom:0;
}

h4 {
  font-size:24px;
  line-height:30px;
  font-weight:700;
  margin-bottom:15px;
}

.blue_btn {
  background-color:#6790E8;
  color:#fff;
  font-weight:500;
  text-align:center;
  padding:10px 20px;
  border:solid 2px transparent;
}
.blue_btn:hover {
  background-color:#fff;
  border:solid 2px #6790E8;
  color:#000;
}
.white_btn {
  background-color:#fff;
  color:#000;
  font-size:18px;
  font-weight:600;
  text-align:center;
  padding:10px 20px;
  border-radius:10px;
  box-shadow:0px 0px 9px -2px rgba(0,0,0, 0.6);
  border:solid 2px transparent;
}
.white_btn:hover {
  background-color:#6790E8;
  border:solid 2px #fff;
  color:#fff;

}

.bg_transparent {
  background-color:transparent;
}

.container {
 max-width:95%;
}

.btn-blueHeaderBtn {
  background-color:#6790E8;
  color:#ffff;
}
.btn-blueHeaderBtn:hover {
  border:solid 1px #6790E8;
  color:#6790E8;
}

.btn_dark {
   border:solid 1px #ddd;
  color:#ddd;
}

.btn_dark:hover {
   border:solid 1px #ddd;
  color:#ddd;
}

.btn_dark {
  background-color: #333;
  color: white;
  border: none;
  
}
.btn_dark:hover {
   background-color: #333;
  color: white;
  border: none;
}

.btn_blue {
  background-color: #6790e8;
  color: white;
  border: none;
}

.btn_blue:hover {
   background-color: #6790e8;
  color: white;
  border: none;
}

.modal {
  z-index:99999;
}